:root{
    --index:calc(1vw+1vh);
}
body{
    background-color: #202020;
    overflow-x: hidden;
}
.headerTabletVersion{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .hero-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: auto;
    width: 100%;
    min-height: 100%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center bottom;
    z-index: 1;
  }
  
  .glass-panel {
    position: absolute;
    bottom:-0.1%;    
    left: -90%;       
    width:60vw;   
    height: auto;
    z-index: 2;
    pointer-events: none;
    transition: left 1s ease-out;

    /* -9.6% */
  }

  @media (max-width: 1024px) {
    .hero{
        display: none;
    }
    .headerTabletVersion{
        display: block;
    }
  }
  .show{
    left: -9.5%; 
  }